* {
    font-family: "Karla", serif;
}

body {
    background-color: black;
}

h1, p {
    color: white;
    text-align: center;
}

div {
    width: 50%;
    margin-left: 25%;
    border: 1px orange solid;
    padding: 5px;
    background-color: black;
}

img {
    width: 100%;
}